[submodule "hugo-theme-noteworthy"]
	path = hugo-theme-noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "public"]
	path = public
	url = https://98bbaaf5-15e1-408d-a104-98ad8e6d5cba@api.glitch.com/git/just-one-thing
